header {

    border: 3px solid blue;
}

nav {

    border: 3px solid red;

}

main {

    border: 3px solid green;

}

section1 {
    border: 3px solid blueviolet;
}

section2 {

    border: 3px solid mediumturquoise;
}


footer {

    border: 3px solid yellow;

}